.carousel{
    width: 80%;
    margin: auto;
}
.carousel img{
    width: 100%;
}
@media (min-width: 992px){
    .carousel img{
        width: 100%;
        height: 548px;
    }
}
.carousel h2 {
    color: tomato;
    font-weight: bold;
    letter-spacing: 3px;
}
.carousel p{
    font-weight: 500;
    background-color: tomato;
    width: fit-content;
    margin: auto;
    padding: 2px 15px;
    color: rgb(0, 26, 99);
    letter-spacing: 1px;
    border-radius: 5px;
}
.carousel-indicators [data-bs-target]{
    background-color: tomato;
}