.navbar-nav{
    margin: 8px auto;
}
.navbar-nav .active{
    color: tomato !important;
}
.navbar-nav a{
    font-weight: bold;
    color: rgb(0, 26, 99) !important;
    margin: 0 1rem;
    padding: 8px 15px;
    text-decoration: none;
    transition: .5s all;
}
.navbar-nav a:hover{
    letter-spacing: 2px;
    color: tomato !important;
    box-shadow: 2px 2px 10px rgb(174 174 174);
    border-radius: 5px;
}