.aboutImg img{
    width: 100%;
    border-radius: 19px;
}
.aboutImg .img{
    border: 2px solid tomato;
    border-radius: 20px;
    padding: 5px;
    transition: .4s all;
    cursor: pointer;
}
.aboutImg .img:hover{
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0;
}
.instructor{
    padding-bottom: 5rem;
}
.instructor p,.context p{
    color: tomato;
    font-weight: 500;
}
.context .details{
    font-weight: bold;
    color: rgba(138, 138, 138, 0.89);
}
.instructor img{
    width: 100%;
    border-radius: 8px;
}
.instructor h4{
    margin-top: 12px;
    color: rgb(0, 26, 99);
}
.instructor .body{
    background-color: white;
    padding: 10px;
    margin: 0 6px;
    border-radius: 8px;
    transition: .5s all;
}
.instructor .body:hover{
    box-shadow: 2px 2px 20px gray;
    padding: 0 0 5px 0;
}


