button{
    font-weight: bold;
    border: none;
    background-color: tomato;
    padding: 9px 31px;
    border-radius: 5px;
    color: rgb(0, 26, 99);
    transition: 1s all;
}
button:hover{
    border-radius: 2rem;
    color: rgb(0, 0, 0);
}